In [10]:
import pandas as pd
from sqlalchemy import create_engine

In [11]:
INPUT_FILE = 'green_tripdata_2019-01.csv'
TABLE_NAME = 'green_taxi_data'

In [12]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

# Populate the DB

In [3]:
df = pd.read_csv(INPUT_FILE, nrows=100)

In [4]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [7]:
print(pd.io.sql.get_schema(df, name=TABLE_NAME, con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [8]:
df_iter = pd.read_csv(INPUT_FILE, iterator=True, chunksize=100000)

In [9]:
df = next(df_iter)

In [10]:
len(df)

100000

In [11]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [12]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.00,0.5,0.5,0.00,0.00,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.00,0.5,0.5,0.00,0.00,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.50,0.5,0.5,0.00,0.00,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.50,0.5,0.5,2.96,0.00,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.00,0.5,0.5,0.00,0.00,NaN,0.3,19.30,2,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,2019-01-06 09:56:09,2019-01-06 10:01:30,N,1,130,216,1,1.23,6.00,0.0,0.5,0.00,0.00,NaN,0.3,6.80,2,1,NaN
99996,2,2019-01-06 09:12:49,2019-01-06 09:52:38,N,5,218,16,1,21.44,47.65,0.0,0.5,0.00,5.76,NaN,0.0,53.91,1,2,NaN
99997,2,2019-01-06 09:02:06,2019-01-06 09:37:42,N,5,139,188,1,14.77,37.84,0.0,0.5,0.00,0.00,NaN,0.0,38.34,1,2,NaN
99998,2,2019-01-06 09:55:01,2019-01-06 10:04:34,N,1,72,188,1,1.80,8.50,0.0,0.5,0.00,0.00,NaN,0.3,9.30,1,1,NaN
99999,2,2019-01-06 09:59:04,2019-01-06 10:24:33,N,5,89,225,1,7.03,23.14,0.0,0.5,0.00,0.00,NaN,0.0,23.64,1,2,NaN

In [13]:
df.head(n=0).to_sql(name=TABLE_NAME, con=engine, if_exists='replace')

OperationalError: (psycopg2.OperationalError) connection to server at "localhost" (127.0.0.1), port 5432 failed: Connection refused
	Is the server running on that host and accepting TCP/IP connections?

(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
%time df.to_sql(name=TABLE_NAME, con=engine, if_exists='append')

In [ ]:
from time import time

In [ ]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name=TABLE_NAME, con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

In [ ]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

In [19]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [20]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [21]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

# Homework (parse data)

### DB

In [15]:
q = '''
SELECT * from green_taxi_data limit 100;
'''

pd.read_sql(q, con=engine)

,index,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,...,0.5,0.5,0.00,0.0,None,0.3,4.30,2,1,None
1,1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,...,0.5,0.5,0.00,0.0,None,0.3,7.30,2,1,None
2,2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,...,0.5,0.5,0.00,0.0,None,0.3,5.80,1,1,None
3,3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,...,0.5,0.5,2.96,0.0,None,0.3,19.71,1,1,None
4,4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,...,0.5,0.5,0.00,0.0,None,0.3,19.30,2,1,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,2,2019-01-01 00:15:42,2019-01-01 00:41:04,N,1,97,179,1,7.83,...,0.5,0.5,5.46,0.0,None,0.3,32.76,1,1,None
96,96,2,2019-01-01 00:21:28,2019-01-01 00:48:15,N,1,7,230,1,4.49,...,0.5,0.5,4.00,0.0,None,0.3,25.30,1,1,None
97,97,2,2019-01-01 00:17:10,2019-01-01 00:23:34,N,1,42,42,1,1.08,...,0.5,0.5,0.00,0.0,None,0.3,7.80,2,1,None
98,98,2,2019-01-01 00:25:01,2019-01-01 00:43:55,N,1,42,232,2,8.74,...,0.5,0.5,0.00,0.0,None,0.3,26.30,2,1,None
99,99,2,2019-01-01 00:36:56,2019-01-01 00:43:50,N,1,223,7,5,1.32,...,0.5,0.5,2.00,0.0,None,0.3,10.30,1,1,None

## Question 3. Count records

How many taxi trips were totally made on January 15?

Tip: started and finished on 2019-01-15.

Remember that `lpep_pickup_datetime` and `lpep_dropoff_datetime` columns are in the format timestamp (date and hour+min+sec) and not in date.

- 20689
- 20530
- 17630
- 21090

In [16]:
q = '''
SELECT count(*) from green_taxi_data where lpep_pickup_datetime::date = date '2019-01-15'
and lpep_dropoff_datetime::date = date '2019-01-15';
'''

pd.read_sql(q, con=engine)

   count
0  20530

**Answer is 20530**

### Sanity checks...

In [17]:
q = '''SELECT lpep_pickup_datetime::date, count(1) from green_taxi_data group by lpep_pickup_datetime::date;'''

pd.read_sql(q, con=engine)

   lpep_pickup_datetime  count
0            2019-01-01  14990
1            2009-01-01     13
2            2019-01-02  18557
3            2010-09-23     11
4            2019-01-29  21496
5            2018-12-31     30
6            2019-01-04  21657
7            2019-01-27  18237
8            2018-12-07      3
9            2018-12-04     10
10           2019-01-09  21359
11           2019-01-07  19991
12           2018-12-05     22
13           2019-01-18  22504
14           2019-01-13  17509
15           2019-01-03  20571
16           2019-01-08  19601
17           2019-01-21  13669
18           2019-01-06  17799
19           2019-01-15  20689
20           2018-12-21      1
21           2019-01-28  20342
22           2019-01-20  15512
23           2019-02-01     23
24           2019-01-12  21017
25           2019-01-19  20426
26           2019-01-11  24136
27           2019-01-25  24399
28           2019-01-22  20070
29           2019-01-16  21678
30           2019-01-26  22487
31           2019-01-10  23038
32           2019-01-31  21259
33           2019-01-24  22062
34           2019-01-14  20035
35           2019-01-17  22934
36           2019-01-05  19991
37           2019-01-30  21411
38           2019-01-23  21379

In [18]:
q = '''SELECT lpep_dropoff_datetime::date, count(1) from green_taxi_data group by lpep_dropoff_datetime::date;'''

pd.read_sql(q, con=engine)

   lpep_dropoff_datetime  count
0             2019-01-01  14859
1             2009-01-01     12
2             2019-01-02  18522
3             2010-09-23     10
4             2019-01-29  21491
5             2018-12-31     20
6             2019-01-04  21587
7             2019-01-27  18429
8             2018-12-07      2
9             2018-12-04      8
10            2010-09-24      1
11            2019-01-09  21363
12            2019-01-07  20007
13            2018-12-05     18
14            2018-12-06      6
15            2019-01-18  22400
16            2019-01-13  17671
17            2019-01-03  20554
18            2019-01-08  19572
19            2018-12-08      1
20            2019-01-21  13742
21            2019-01-06  17936
22            2019-01-15  20664
23            2018-12-21      1
24            2019-01-28  20322
25            2019-01-20  15638
26            2019-02-01    211
27            2019-01-12  20988
28            2019-01-19  20441
29            2019-01-11  24074
30            2019-01-25  24312
31            2019-01-22  19997
32            2019-01-16  21647
33            2019-01-26  22466
34            2019-01-10  22984
35            2019-01-31  21224
36            2019-01-24  22002
37            2019-01-14  20059
38            2009-01-02      1
39            2019-01-17  22925
40            2019-01-05  19951
41            2019-01-30  21436
42            2019-01-23  21364

## Question 4. Largest trip for each day

Which was the day with the largest trip distance
Use the pick up time for your calculations.

- 2019-01-18
- 2019-01-28
- 2019-01-15
- 2019-01-10

In [19]:
q = '''
SELECT lpep_pickup_datetime::date, trip_distance from green_taxi_data order by trip_distance desc LIMIT 1;
'''

pd.read_sql(q, con=engine)

  lpep_pickup_datetime  trip_distance
0           2019-01-15         117.99

### Sanity check

In [20]:
q = '''
SELECT max(trip_distance) from green_taxi_data;
'''

pd.read_sql(q, con=engine)

      max
0  117.99

### Answer is 2019-01-15

## Question 5. The number of passengers

In 2019-01-01 how many trips had 2 and 3 passengers?

- 2: 1282 ; 3: 266
- 2: 1532 ; 3: 126
- 2: 1282 ; 3: 254
- 2: 1282 ; 3: 274

In [33]:
q = '''
SELECT * from green_taxi_data limit 10;
'''

pd.read_sql(q, con=engine)

,index,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,...,0.5,0.5,0.00,0.0,None,0.3,4.30,2,1,None
1,1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,...,0.5,0.5,0.00,0.0,None,0.3,7.30,2,1,None
2,2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,...,0.5,0.5,0.00,0.0,None,0.3,5.80,1,1,None
3,3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,...,0.5,0.5,2.96,0.0,None,0.3,19.71,1,1,None
4,4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,...,0.5,0.5,0.00,0.0,None,0.3,19.30,2,1,None
5,5,2,2019-01-01 00:12:35,2019-01-01 00:19:09,N,1,49,17,1,1.05,...,0.5,0.5,0.00,0.0,None,0.3,7.80,1,1,None
6,6,2,2019-01-01 00:47:55,2019-01-01 01:00:01,N,1,255,33,1,3.77,...,0.5,0.5,0.00,0.0,None,0.3,14.80,1,1,None
7,7,1,2019-01-01 00:12:47,2019-01-01 00:30:50,N,1,76,225,1,4.10,...,0.5,0.5,0.00,0.0,None,0.3,17.30,1,1,None
8,8,2,2019-01-01 00:16:23,2019-01-01 00:39:46,N,1,25,89,1,7.75,...,0.5,0.5,0.00,0.0,None,0.3,26.80,1,1,None
9,9,2,2019-01-01 00:58:02,2019-01-01 01:19:02,N,1,85,39,1,3.68,...,0.5,0.5,0.00,0.0,None,0.3,16.80,1,1,None

In [34]:
q = '''
SELECT count(*) from green_taxi_data where
lpep_pickup_datetime::date = date '2019-01-01'
group by passenger_count;
'''

pd.read_sql(q, con=engine)

   count
0     21
1  12415
2   1282
3    254
4    129
5    616
6    273

Answer is 1282 and 254

## Question 6. Largest tip

For the passengers picked up in the Astoria Zone which was the drop off zone that had the largest tip?
We want the name of the zone, not the id.

Note: it's not a typo, it's `tip` , not `trip`

- Central Park
- Jamaica
- South Ozone Park
- Long Island City/Queens Plaza

In [36]:
q = '''
SELECT * from zones;
'''

pd.read_sql(q, con=engine)

     index  LocationID        Borough                     Zone service_zone
0        0           1            EWR           Newark Airport          EWR
1        1           2         Queens              Jamaica Bay    Boro Zone
2        2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3        3           4      Manhattan            Alphabet City  Yellow Zone
4        4           5  Staten Island            Arden Heights    Boro Zone
..     ...         ...            ...                      ...          ...
260    260         261      Manhattan       World Trade Center  Yellow Zone
261    261         262      Manhattan           Yorkville East  Yellow Zone
262    262         263      Manhattan           Yorkville West  Yellow Zone
263    263         264        Unknown                       NV         None
264    264         265        Unknown                     None         None

[265 rows x 5 columns]

In [28]:
q = '''
select *
from green_taxi_data
limit 10;
'''

df = pd.read_sql(q, con=engine)
df

,index,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,...,0.5,0.5,0.00,0.0,None,0.3,4.30,2,1,None
1,1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,...,0.5,0.5,0.00,0.0,None,0.3,7.30,2,1,None
2,2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,...,0.5,0.5,0.00,0.0,None,0.3,5.80,1,1,None
3,3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,...,0.5,0.5,2.96,0.0,None,0.3,19.71,1,1,None
4,4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,...,0.5,0.5,0.00,0.0,None,0.3,19.30,2,1,None
5,5,2,2019-01-01 00:12:35,2019-01-01 00:19:09,N,1,49,17,1,1.05,...,0.5,0.5,0.00,0.0,None,0.3,7.80,1,1,None
6,6,2,2019-01-01 00:47:55,2019-01-01 01:00:01,N,1,255,33,1,3.77,...,0.5,0.5,0.00,0.0,None,0.3,14.80,1,1,None
7,7,1,2019-01-01 00:12:47,2019-01-01 00:30:50,N,1,76,225,1,4.10,...,0.5,0.5,0.00,0.0,None,0.3,17.30,1,1,None
8,8,2,2019-01-01 00:16:23,2019-01-01 00:39:46,N,1,25,89,1,7.75,...,0.5,0.5,0.00,0.0,None,0.3,26.80,1,1,None
9,9,2,2019-01-01 00:58:02,2019-01-01 01:19:02,N,1,85,39,1,3.68,...,0.5,0.5,0.00,0.0,None,0.3,16.80,1,1,None

In [29]:
df.columns

Index(['index', 'VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

In [24]:
q = '''
SELECT count(*) from green_taxi_data where
lpep_pickup_datetime::date = date '2019-01-01'
and lpep_dropoff_datetime::date = date '2019-01-01';
'''

pd.read_sql(q, con=engine)

   count
0  14849

In [25]:
q = '''
SELECT count(*) from green_taxi_data where
lpep_pickup_datetime::date = date '2019-01-01'
group by passenger_count;
'''

pd.read_sql(q, con=engine)

   count
0     21
1  12415
2   1282
3    254
4    129
5    616
6    273

In [26]:
# Answer is 1282 and 254

In [30]:
q = '''
select *
from green_taxi_data
join zones on 'green_taxi_data.PULocationID' = 'zones.LocationID'
LIMIT 1
'''

pd.read_sql(q, con=engine)

Empty DataFrame
Columns: [index, VendorID, lpep_pickup_datetime, lpep_dropoff_datetime, store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count, trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee, improvement_surcharge, total_amount, payment_type, trip_type, congestion_surcharge, index, LocationID, Borough, Zone, service_zone]
Index: []

[0 rows x 26 columns]

In [69]:
q = '''
select "DOLocationID"
from green_taxi_data
INNER join zones on "PULocationID" = "LocationID"
WHERE "Zone" = 'Astoria'
ORDER BY tip_amount DESC
LIMIT 1
'''

pd.read_sql(q, con=engine)

   DOLocationID
0           146

In [73]:
q = '''
select "Zone" from zones WHERE "LocationID" = 146
'''

pd.read_sql(q, con=engine)

                            Zone
0  Long Island City/Queens Plaza

#### Answer is Long Island City/Queens Plaza

In [58]:
q = '''
select count(*)
from green_taxi_data
group by "PULocationID"
'''

q2 = '''
SELECT count(*) from green_taxi_data where
lpep_pickup_datetime::date = date '2019-01-01'
group by passenger_count;
'''

pd.read_sql(q, con=engine)

     count
0        8
1      676
2        3
3        4
4       15
..     ...
251      9
252     14
253    399
254   1114
255    184

[256 rows x 1 columns]