In [13]:
import os
from pathlib import Path


import pyspark

In [14]:
FHVH_DATA = Path('fhvh-data')

# Q1

In [2]:
pyspark.__version__

'3.3.2'

# Q2

In [3]:
from pyspark.sql import SparkSession

 
spark = SparkSession.builder \
    .master("local[*]") \
    .config("spark.driver.memory", "15g") \
    .appName("homework5"). \
    getOrCreate()

23/02/26 12:18:57 WARN Utils: Your hostname, gajop-desktop resolves to a loopback address: 127.0.1.1; using 192.168.10.87 instead (on interface enp2s0)
23/02/26 12:18:57 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/26 12:18:57 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
df = spark.read \
    .option("header", "true") \
    .csv("fhvhv_tripdata_2021-06.csv").repartition(12)

In [5]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02764|2021-06-02 17:19:43|2021-06-02 17:47:47|          80|          65|      N|                B02764|
|              B02510|2021-06-02 16:36:18|2021-06-02 16:48:05|          39|          39|      N|                  null|
|              B02876|2021-06-01 02:11:30|2021-06-01 02:18:01|          39|          91|      N|                B02876|
|              B02510|2021-06-02 13:00:02|2021-06-02 13:04:07|          61|          61|      N|                  null|
|              B02835|2021-06-01 21:29:47|2021-06-01 21:53:40|          81|         212|      N|                B02835|
|              B02882|2021-06-01 22:34:14|2021-06-01 22:51:03|          66|         145|      N|                B02882|
|              B02510|2021-06-02 18:50:14|2021-06-02 19:02:55|         166|          50|      N|                  null|
|              B02875|2021-06-01 10:27:44|2021-06-01 10:55:43|         244|         136|      N|                B02875|
|              B02888|2021-06-02 05:27:26|2021-06-02 05:43:36|          79|         246|      N|                B02888|
|              B02866|2021-06-02 14:26:05|2021-06-02 14:37:51|         237|         142|      N|                B02866|
|              B02510|2021-06-02 08:18:47|2021-06-02 08:29:21|           4|          13|      N|                  null|
|              B02871|2021-06-01 12:36:55|2021-06-01 13:15:42|          10|         112|      N|                B02871|
|              B02510|2021-06-02 00:48:30|2021-06-02 00:56:01|          91|         165|      N|                  null|
|              B02835|2021-06-01 07:58:58|2021-06-01 08:16:53|         160|          82|      N|                B02835|
|              B02864|2021-06-02 18:16:11|2021-06-02 18:28:29|         185|          51|      N|                B02864|
|              B02876|2021-06-01 07:40:39|2021-06-01 07:47:49|         107|          90|      N|                B02876|
|              B02835|2021-06-02 18:49:03|2021-06-02 19:03:22|          79|          68|      N|                B02835|
|              B02875|2021-06-02 08:45:03|2021-06-02 09:10:36|         177|         219|      N|                B02875|
|              B02510|2021-06-01 21:59:00|2021-06-01 22:22:24|         208|         235|      N|                  null|
|              B02872|2021-06-01 22:33:12|2021-06-01 22:41:23|         161|         263|      N|                B02872|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [6]:
df.schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropoff_datetime', StringType(), True), StructField('PULocationID', StringType(), True), StructField('DOLocationID', StringType(), True), StructField('SR_Flag', StringType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [8]:
from pyspark.sql import types

In [9]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True),
    types.StructField('Affiliated_base_number', types.StringType(), True)
])

In [10]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv("fhvhv_tripdata_2021-06.csv").repartition(12)

In [16]:
df.write.parquet(str(FHVH_DATA))

AnalysisException: path file:/home/gajop/projects/learn/data-engineering-zoomcamp/cohorts/2023/week_5_batch_processing/fhvh-data already exists.

In [26]:
files = [FHVH_DATA / f for f in os.listdir(FHVH_DATA) if f.endswith(".parquet")]
sizes = [f.stat().st_size for f in files]
average_size_mb = sum(sizes) / len(sizes) / 1024 / 1024

print(f'Partitions: {len(files)}')
assert(len(files) == 12)
average_size_mb

Partitions: 12

21.572226126988728

# Q3

In [47]:
df = spark.read.parquet("fhvh-data")

In [48]:
df.createOrReplaceTempView('fhvh_trips')

In [50]:
spark.sql("""
SELECT COUNT(*)
FROM
fhvh_trips
""").collect()

[Row(count(1)=14961892)]

# Q4

In [51]:
spark.sql("""
SELECT (dropoff_datetime - pickup_datetime) as duration
FROM
fhvh_trips
ORDER BY duration
DESC LIMIT 1
""").collect()

[Row(duration=datetime.timedelta(days=2, seconds=67964))]

In [55]:
days = 2
seconds = 67964
days * 24 + seconds / 3600

66.8788888888889

# Q6

In [58]:
df_zones = spark.read.option("header", "true").csv("taxi_zone_lookup.csv")

In [63]:
df_zones.head(n=10)

[Row(LocationID='1', Borough='EWR', Zone='Newark Airport', service_zone='EWR'),
 Row(LocationID='2', Borough='Queens', Zone='Jamaica Bay', service_zone='Boro Zone'),
 Row(LocationID='3', Borough='Bronx', Zone='Allerton/Pelham Gardens', service_zone='Boro Zone'),
 Row(LocationID='4', Borough='Manhattan', Zone='Alphabet City', service_zone='Yellow Zone'),
 Row(LocationID='5', Borough='Staten Island', Zone='Arden Heights', service_zone='Boro Zone'),
 Row(LocationID='6', Borough='Staten Island', Zone='Arrochar/Fort Wadsworth', service_zone='Boro Zone'),
 Row(LocationID='7', Borough='Queens', Zone='Astoria', service_zone='Boro Zone'),
 Row(LocationID='8', Borough='Queens', Zone='Astoria Park', service_zone='Boro Zone'),
 Row(LocationID='9', Borough='Queens', Zone='Auburndale', service_zone='Boro Zone'),
 Row(LocationID='10', Borough='Queens', Zone='Baisley Park', service_zone='Boro Zone')]

In [60]:
df_zones.schema

StructType([StructField('LocationID', StringType(), True), StructField('Borough', StringType(), True), StructField('Zone', StringType(), True), StructField('service_zone', StringType(), True)])

In [64]:
zone_schema = types.StructType([
    types.StructField('LocationID', types.IntegerType(), True),
    types.StructField('Borough', types.StringType(), True),
    types.StructField('Zone', types.StringType(), True),
    types.StructField('service_zone', types.StringType(), True)
])

In [66]:
df_zones = spark.read.option("header", "true").schema(zone_schema).csv("taxi_zone_lookup.csv")

In [68]:
df_zones.head(n=10)

[Row(LocationID=1, Borough='EWR', Zone='Newark Airport', service_zone='EWR'),
 Row(LocationID=2, Borough='Queens', Zone='Jamaica Bay', service_zone='Boro Zone'),
 Row(LocationID=3, Borough='Bronx', Zone='Allerton/Pelham Gardens', service_zone='Boro Zone'),
 Row(LocationID=4, Borough='Manhattan', Zone='Alphabet City', service_zone='Yellow Zone'),
 Row(LocationID=5, Borough='Staten Island', Zone='Arden Heights', service_zone='Boro Zone'),
 Row(LocationID=6, Borough='Staten Island', Zone='Arrochar/Fort Wadsworth', service_zone='Boro Zone'),
 Row(LocationID=7, Borough='Queens', Zone='Astoria', service_zone='Boro Zone'),
 Row(LocationID=8, Borough='Queens', Zone='Astoria Park', service_zone='Boro Zone'),
 Row(LocationID=9, Borough='Queens', Zone='Auburndale', service_zone='Boro Zone'),
 Row(LocationID=10, Borough='Queens', Zone='Baisley Park', service_zone='Boro Zone')]

In [69]:
df_zones.createOrReplaceTempView('zones')

In [88]:
df_zone_frequency = spark.sql("""
SELECT 
    PULocationID,
    MAX(zones.Zone) as name,
    COUNT(*)
FROM
    fhvh_trips, zones
WHERE
    fhvh_trips.PULocationID == zones.LocationID
GROUP BY
    fhvh_trips.PULocationID
ORDER BY 3 DESC
""").collect()

In [89]:
df_zone_frequency

[Row(PULocationID=61, name='Crown Heights North', count(1)=231279),
 Row(PULocationID=79, name='East Village', count(1)=221244),
 Row(PULocationID=132, name='JFK Airport', count(1)=188867),
 Row(PULocationID=37, name='Bushwick South', count(1)=187929),
 Row(PULocationID=76, name='East New York', count(1)=186780),
 Row(PULocationID=231, name='TriBeCa/Civic Center', count(1)=164344),
 Row(PULocationID=138, name='LaGuardia Airport', count(1)=161596),
 Row(PULocationID=234, name='Union Sq', count(1)=158937),
 Row(PULocationID=249, name='West Village', count(1)=154698),
 Row(PULocationID=7, name='Astoria', count(1)=152493),
 Row(PULocationID=148, name='Lower East Side', count(1)=151020),
 Row(PULocationID=68, name='East Chelsea', count(1)=147673),
 Row(PULocationID=42, name='Central Harlem North', count(1)=146402),
 Row(PULocationID=255, name='Williamsburg (North Side)', count(1)=143683),
 Row(PULocationID=181, name='Park Slope', count(1)=143594),
 Row(PULocationID=225, name='Stuyvesant Heights', count(1)=141427),
 Row(PULocationID=48, name='Clinton East', count(1)=139611),
 Row(PULocationID=246, name='West Chelsea/Hudson Yards', count(1)=139431),
 Row(PULocationID=17, name='Bedford', count(1)=138428),
 Row(PULocationID=170, name='Murray Hill', count(1)=137879),
 Row(PULocationID=164, name='Midtown South', count(1)=136100),
 Row(PULocationID=161, name='Midtown Center', count(1)=135578),
 Row(PULocationID=89, name='Flatbush/Ditmas Park', count(1)=130117),
 Row(PULocationID=230, name='Times Sq/Theatre District', count(1)=129884),
 Row(PULocationID=188, name='Prospect-Lefferts Gardens', count(1)=128308),
 Row(PULocationID=39, name='Canarsie', count(1)=127788),
 Row(PULocationID=256, name='Williamsburg (South Side)', count(1)=127554),
 Row(PULocationID=237, name='Upper East Side South', count(1)=124621),
 Row(PULocationID=112, name='Greenpoint', count(1)=118145),
 Row(PULocationID=129, name='Jackson Heights', count(1)=114413),
 Row(PULocationID=244, name='Washington Heights South', count(1)=113889),
 Row(PULocationID=36, name='Bushwick North', count(1)=113732),
 Row(PULocationID=107, name='Gramercy', count(1)=113487),
 Row(PULocationID=74, name='East Harlem North', count(1)=112394),
 Row(PULocationID=236, name='Upper East Side North', count(1)=111986),
 Row(PULocationID=80, name='East Williamsburg', count(1)=111175),
 Row(PULocationID=162, name='Midtown East', count(1)=110903),
 Row(PULocationID=35, name='Brownsville', count(1)=107264),
 Row(PULocationID=163, name='Midtown North', count(1)=107065),
 Row(PULocationID=90, name='Flatiron', count(1)=106333),
 Row(PULocationID=144, name='Little Italy/NoLiTa', count(1)=106007),
 Row(PULocationID=82, name='Elmhurst', count(1)=104613),
 Row(PULocationID=145, name='Long Island City/Hunters Point', count(1)=102494),
 Row(PULocationID=158, name='Meatpacking/West Village West', count(1)=102217),
 Row(PULocationID=130, name='Jamaica', count(1)=102163),
 Row(PULocationID=41, name='Central Harlem', count(1)=101695),
 Row(PULocationID=97, name='Fort Greene', count(1)=99491),
 Row(PULocationID=186, name='Penn Station/Madison Sq West', count(1)=99400),
 Row(PULocationID=141, name='Lenox Hill West', count(1)=98597),
 Row(PULocationID=239, name='Upper West Side South', count(1)=97584),
 Row(PULocationID=75, name='East Harlem South', count(1)=95810),
 Row(PULocationID=114, name='Greenwich Village South', count(1)=95705),
 Row(PULocationID=142, name='Lincoln Square East', count(1)=94552),
 Row(PULocationID=211, name='SoHo', count(1)=93139),
 Row(PULocationID=168, name='Mott Haven/Port Morris', count(1)=92400),
 Row(PULocationID=95, name='Forest Hills', count(1)=92379),
 Row(PULocationID=198, name='Ridgewood', count(1)=92239),
 Row(PULocationID=137, name='Kips Bay', count(1)=92184),
 Row(PULocationID=49, name='Clinton Hill', count(1)=92064),
 Row(PULocationID=113, name='Greenwich Village North', count(1)=91720),
 Row(PULocationID=229, name='Sutton Place/Turtle Bay North', count(1)=91599),
 Row(PULocationID=87, name='Financial District North', count(1)=91576),
 Row(PULocationID=72, name='East Flatbush/Remsen Village', count(1)=89682),
 Row(PULocationID=226, name='Sunnyside', count(1)=88941),
 Row(PULocationID=50, name='Clinton West', count(1)=88749),
 Row(PULocationID=213, name='Soundview/Castle Hill', count(1)=86117),
 Row(PULocationID=216, name='South Ozone Park', count(1)=85937),
 Row(PULocationID=140, name='Lenox Hill East', count(1)=85885),
 Row(PULocationID=91, name='Flatlands', count(1)=85315),
 Row(PULocationID=14, name='Bay Ridge', count(1)=84301),
 Row(PULocationID=233, name='UN/Turtle Bay South', count(1)=83686),
 Row(PULocationID=238, name='Upper West Side North', count(1)=82525),
 Row(PULocationID=232, name='Two Bridges/Seward Park', count(1)=82014),
 Row(PULocationID=25, name='Boerum Hill', count(1)=81017),
 Row(PULocationID=263, name='Yorkville West', count(1)=80980),
 Row(PULocationID=243, name='Washington Heights North', count(1)=80108),
 Row(PULocationID=254, name='Williamsbridge/Olinville', count(1)=79148),
 Row(PULocationID=177, name='Ocean Hill', count(1)=77173),
 Row(PULocationID=71, name='East Flatbush/Farragut', count(1)=76510),
 Row(PULocationID=33, name='Brooklyn Heights', count(1)=76336),
 Row(PULocationID=13, name='Battery Park City', count(1)=76312),
 Row(PULocationID=143, name='Lincoln Square West', count(1)=76245),
 Row(PULocationID=69, name='East Concourse/Concourse Village', count(1)=74920),
 Row(PULocationID=228, name='Sunset Park West', count(1)=74384),
 Row(PULocationID=100, name='Garment District', count(1)=74232),
 Row(PULocationID=169, name='Mount Hope', count(1)=73909),
 Row(PULocationID=223, name='Steinway', count(1)=73896),
 Row(PULocationID=26, name='Borough Park', count(1)=71414),
 Row(PULocationID=247, name='West Concourse', count(1)=70683),
 Row(PULocationID=18, name='Bedford Park', count(1)=70566),
 Row(PULocationID=116, name='Hamilton Heights', count(1)=69786),
 Row(PULocationID=205, name='Saint Albans', count(1)=69232),
 Row(PULocationID=235, name='University Heights/Morris Heights', count(1)=66162),
 Row(PULocationID=65, name='Downtown Brooklyn/MetroTech', count(1)=64817),
 Row(PULocationID=159, name='Melrose South', count(1)=64694),
 Row(PULocationID=197, name='Richmond Hill', count(1)=64591),
 Row(PULocationID=78, name='East Tremont', count(1)=63817),
 Row(PULocationID=92, name='Flushing', count(1)=63760),
 Row(PULocationID=174, name='Norwood', count(1)=63283),
 Row(PULocationID=51, name='Co-Op City', count(1)=62409),
 Row(PULocationID=260, name='Woodside', count(1)=61569),
 Row(PULocationID=242, name='Van Nest/Morris Park', count(1)=60636),
 Row(PULocationID=167, name='Morrisania/Melrose', count(1)=59900),
 Row(PULocationID=262, name='Yorkville East', count(1)=59054),
 Row(PULocationID=241, name='Van Cortlandt Village', count(1)=58025),
 Row(PULocationID=62, name='Crown Heights South', count(1)=57484),
 Row(PULocationID=127, name='Inwood', count(1)=56378),
 Row(PULocationID=10, name='Baisley Park', count(1)=55861),
 Row(PULocationID=4, name='Alphabet City', count(1)=55565),
 Row(PULocationID=77, name='East New York/Pennsylvania Avenue', count(1)=55020),
 Row(PULocationID=66, name='DUMBO/Vinegar Hill', count(1)=54563),
 Row(PULocationID=189, name='Prospect Heights', count(1)=54258),
 Row(PULocationID=215, name='South Jamaica', count(1)=54195),
 Row(PULocationID=63, name='Cypress Hills', count(1)=53825),
 Row(PULocationID=47, name='Claremont/Bathgate', count(1)=53601),
 Row(PULocationID=166, name='Morningside Heights', count(1)=52460),
 Row(PULocationID=179, name='Old Astoria', count(1)=52320),
 Row(PULocationID=22, name='Bensonhurst West', count(1)=52137),
 Row(PULocationID=85, name='Erasmus', count(1)=52085),
 Row(PULocationID=261, name='World Trade Center', count(1)=51481),
 Row(PULocationID=208, name='Schuylerville/Edgewater Park', count(1)=51267),
 Row(PULocationID=119, name='Highbridge', count(1)=51235),
 Row(PULocationID=125, name='Hudson Sq', count(1)=50712),
 Row(PULocationID=258, name='Woodhaven', count(1)=50427),
 Row(PULocationID=185, name='Pelham Parkway', count(1)=50198),
 Row(PULocationID=220, name='Spuyten Duyvil/Kingsbridge', count(1)=50057),
 Row(PULocationID=259, name='Woodlawn/Wakefield', count(1)=49722),
 Row(PULocationID=210, name='Sheepshead Bay', count(1)=48926),
 Row(PULocationID=155, name='Marine Park/Mill Basin', count(1)=48042),
 Row(PULocationID=165, name='Midwood', count(1)=47187),
 Row(PULocationID=126, name='Hunts Point', count(1)=46627),
 Row(PULocationID=151, name='Manhattan Valley', count(1)=46226),
 Row(PULocationID=55, name='Coney Island', count(1)=46078),
 Row(PULocationID=81, name='Eastchester', count(1)=45799),
 Row(PULocationID=56, name='Corona', count(1)=45311),
 Row(PULocationID=20, name='Belmont', count(1)=43990),
 Row(PULocationID=191, name='Queens Village', count(1)=43814),
 Row(PULocationID=123, name='Homecrest', count(1)=42555),
 Row(PULocationID=32, name='Bronxdale', count(1)=41693),
 Row(PULocationID=212, name='Soundview/Bruckner', count(1)=41480),
 Row(PULocationID=250, name='Westchester Village/Unionport', count(1)=40954),
 Row(PULocationID=248, name='West Farms/Bronx River', count(1)=40867),
 Row(PULocationID=182, name='Parkchester', count(1)=39850),
 Row(PULocationID=60, name='Crotona Park East', count(1)=39365),
 Row(PULocationID=136, name='Kingsbridge Heights', count(1)=39209),
 Row(PULocationID=21, name='Bensonhurst East', count(1)=39046),
 Row(PULocationID=146, name='Long Island City/Queens Plaza', count(1)=38749),
 Row(PULocationID=196, name='Rego Park', count(1)=38686),
 Row(PULocationID=40, name='Carroll Gardens', count(1)=38211),
 Row(PULocationID=157, name='Maspeth', count(1)=38162),
 Row(PULocationID=102, name='Glendale', count(1)=36572),
 Row(PULocationID=218, name='Springfield Gardens North', count(1)=35217),
 Row(PULocationID=28, name='Briarwood/Jamaica Hills', count(1)=35143),
 Row(PULocationID=3, name='Allerton/Pelham Gardens', count(1)=34796),
 Row(PULocationID=149, name='Madison', count(1)=34635),
 Row(PULocationID=227, name='Sunset Park East', count(1)=34412),
 Row(PULocationID=147, name='Longwood', count(1)=34315),
 Row(PULocationID=152, name='Manhattanville', count(1)=34307),
 Row(PULocationID=173, name='North Corona', count(1)=34033),
 Row(PULocationID=45, name='Chinatown', count(1)=33700),
 Row(PULocationID=94, name='Fordham South', count(1)=33272),
 Row(PULocationID=219, name='Springfield Gardens South', count(1)=31913),
 Row(PULocationID=86, name='Far Rockaway', count(1)=31402),
 Row(PULocationID=195, name='Red Hook', count(1)=31302),
 Row(PULocationID=209, name='Seaport', count(1)=31208),
 Row(PULocationID=160, name='Middle Village', count(1)=31085),
 Row(PULocationID=88, name='Financial District South', count(1)=30877),
 Row(PULocationID=29, name='Brighton Beach', count(1)=30721),
 Row(PULocationID=106, name='Gowanus', count(1)=30708),
 Row(PULocationID=121, name='Hillcrest/Pomonok', count(1)=30488),
 Row(PULocationID=134, name='Kew Gardens', count(1)=30012),
 Row(PULocationID=139, name='Laurelton', count(1)=29911),
 Row(PULocationID=70, name='East Elmhurst', count(1)=29817),
 Row(PULocationID=133, name='Kensington', count(1)=29605),
 Row(PULocationID=117, name='Hammels/Arverne', count(1)=29238),
 Row(PULocationID=83, name='Elmhurst/Maspeth', count(1)=29234),
 Row(PULocationID=206, name='Saint George/New Brighton', count(1)=29017),
 Row(PULocationID=16, name='Bayside', count(1)=28515),
 Row(PULocationID=203, name='Rosedale', count(1)=28439),
 Row(PULocationID=171, name='Murray Hill-Queens', count(1)=27271),
 Row(PULocationID=43, name='Central Park', count(1)=26991),
 Row(PULocationID=224, name='Stuy Town/Peter Cooper Village', count(1)=25023),
 Row(PULocationID=180, name='Ozone Park', count(1)=24882),
 Row(PULocationID=67, name='Dyker Heights', count(1)=24657),
 Row(PULocationID=135, name='Kew Gardens Hills', count(1)=24636),
 Row(PULocationID=200, name='Riverdale/North Riverdale/Fieldston', count(1)=24547),
 Row(PULocationID=131, name='Jamaica Estates', count(1)=23489),
 Row(PULocationID=108, name='Gravesend', count(1)=22764),
 Row(PULocationID=257, name='Windsor Terrace', count(1)=22514),
 Row(PULocationID=52, name='Cobble Hill', count(1)=22103),
 Row(PULocationID=24, name='Bloomingdale', count(1)=21848),
 Row(PULocationID=124, name='Howard Beach', count(1)=21165),
 Row(PULocationID=217, name='South Williamsburg', count(1)=20738),
 Row(PULocationID=183, name='Pelham Bay', count(1)=20699),
 Row(PULocationID=193, name='Queensbridge/Ravenswood', count(1)=20562),
 Row(PULocationID=222, name='Starrett City', count(1)=20544),
 Row(PULocationID=53, name='College Point', count(1)=20516),
 Row(PULocationID=221, name='Stapleton', count(1)=20489),
 Row(PULocationID=23, name='Bloomfield/Emerson Hill', count(1)=20381),
 Row(PULocationID=156, name='Mariners Harbor', count(1)=20153),
 Row(PULocationID=122, name='Hollis', count(1)=19543),
 Row(PULocationID=192, name='Queensboro Hill', count(1)=19370),
 Row(PULocationID=252, name='Whitestone', count(1)=19203),
 Row(PULocationID=38, name='Cambria Heights', count(1)=18758),
 Row(PULocationID=150, name='Manhattan Beach', count(1)=17408),
 Row(PULocationID=11, name='Bath Beach', count(1)=16122),
 Row(PULocationID=178, name='Ocean Parkway South', count(1)=15998),
 Row(PULocationID=118, name='Heartland Village/Todt Hill', count(1)=15737),
 Row(PULocationID=73, name='East Flushing', count(1)=14909),
 Row(PULocationID=153, name='Marble Hill', count(1)=14781),
 Row(PULocationID=98, name='Fresh Meadows', count(1)=13901),
 Row(PULocationID=9, name='Auburndale', count(1)=12911),
 Row(PULocationID=34, name='Brooklyn Navy Yard', count(1)=12728),
 Row(PULocationID=201, name='Rockaway Park', count(1)=12223),
 Row(PULocationID=115, name='Grymes Hill/Clifton', count(1)=11808),
 Row(PULocationID=214, name='South Beach/Dongan Hills', count(1)=11767),
 Row(PULocationID=19, name='Bellerose', count(1)=11558),
 Row(PULocationID=190, name='Prospect Park', count(1)=11350),
 Row(PULocationID=101, name='Glen Oaks', count(1)=11253),
 Row(PULocationID=251, name='Westerleigh', count(1)=10980),
 Row(PULocationID=245, name='West Brighton', count(1)=10689),
 Row(PULocationID=93, name='Flushing Meadows-Corona Park', count(1)=10094),
 Row(PULocationID=15, name='Bay Terrace/Fort Totten', count(1)=9947),
 Row(PULocationID=187, name='Port Richmond', count(1)=9945),
 Row(PULocationID=240, name='Van Cortlandt Park', count(1)=9679),
 Row(PULocationID=175, name='Oakland Gardens', count(1)=9521),
 Row(PULocationID=109, name='Great Kills', count(1)=9424),
 Row(PULocationID=64, name='Douglaston', count(1)=8849),
 Row(PULocationID=31, name='Bronx Park', count(1)=8674),
 Row(PULocationID=202, name='Roosevelt Island', count(1)=8641),
 Row(PULocationID=54, name='Columbia Street', count(1)=8614),
 Row(PULocationID=172, name='New Dorp/Midland Beach', count(1)=8516),
 Row(PULocationID=6, name='Arrochar/Fort Wadsworth', count(1)=8314),
 Row(PULocationID=84, name="Eltingville/Annadale/Prince's Bay", count(1)=5754),
 Row(PULocationID=184, name='Pelham Bay Park', count(1)=5612),
 Row(PULocationID=44, name='Charleston/Tottenville', count(1)=5481),
 Row(PULocationID=176, name='Oakwood', count(1)=5050),
 Row(PULocationID=58, name='Country Club', count(1)=5042),
 Row(PULocationID=46, name='City Island', count(1)=4425),
 Row(PULocationID=5, name='Arden Heights', count(1)=4011),
 Row(PULocationID=207, name='Saint Michaels Cemetery/Woodside', count(1)=3987),
 Row(PULocationID=128, name='Inwood Hill Park', count(1)=3892),
 Row(PULocationID=204, name='Rossville/Woodrow', count(1)=3442),
 Row(PULocationID=57, name='Corona', count(1)=3267),
 Row(PULocationID=96, name='Forest Park/Highland Park', count(1)=2800),
 Row(PULocationID=59, name='Crotona Park', count(1)=2795),
 Row(PULocationID=27, name='Breezy Point/Fort Tilden/Riis Beach', count(1)=2486),
 Row(PULocationID=194, name='Randalls Island', count(1)=2477),
 Row(PULocationID=12, name='Battery Park', count(1)=2132),
 Row(PULocationID=154, name='Marine Park/Floyd Bennett Field', count(1)=2128),
 Row(PULocationID=120, name='Highbridge Park', count(1)=1686),
 Row(PULocationID=253, name='Willets Point', count(1)=1638),
 Row(PULocationID=265, name='NA', count(1)=1308),
 Row(PULocationID=30, name='Broad Channel', count(1)=941),
 Row(PULocationID=8, name='Astoria Park', count(1)=808),
 Row(PULocationID=111, name='Green-Wood Cemetery', count(1)=808),
 Row(PULocationID=99, name='Freshkills Park', count(1)=361),
 Row(PULocationID=1, name='Newark Airport', count(1)=228),
 Row(PULocationID=264, name='NV', count(1)=68),
 Row(PULocationID=2, name='Jamaica Bay', count(1)=66),
 Row(PULocationID=110, name='Great Kills Park', count(1)=36),
 Row(PULocationID=199, name='Rikers Island', count(1)=3),
 Row(PULocationID=105, name="Governor's Island/Ellis Island/Liberty Island", count(1)=2)]